body {
    padding-top: 50px;
}

.hero {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    color: #f8f8f8;
}

.hero-text {
    position: relative;
    padding-top: 15%;
    padding-bottom: 15%;
}

.hero-text > h1 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.hero-text > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media(max-width: 767px) {
    .hero-text {
        padding-bottom: 10%;
    }

    .hero-text > h1 {
        font-size: 3em;
    }
}
