{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<p>
I’m a City Planner by day and a World Traveler by night and weekend.  I travel
hundreds of thousands of miles a year while working a full-time office job, and
I am excited to share my tips, tricks, and stories with anyone who wants to
listen.
</p>
<p>
After I finished grad school in 2012, I had a little bit of time and a little
bit of money, and I seized the opportunity to travel as much as I could. And
after finding a handful of amazing travel blogs and forums, I started to become
good at finding cheap ways to travel. When I started working full-time, I was
fortunate to have three day weekends with Fridays off, so I took advantage of
that and have not looked back ever since then.
</p>
<p>
At work, people started asking me, “So where did you go this weekend?” I just
couldn’t stop. At the very least, I wasn’t missing much work. I love adding on
a day off to a long weekend here and there to go places like Japan, India,
Colombia, or Hawaii. It got to the point where on the off chance that I
actually had no travel plans when someone asked where my next trip was, if they
asked me again in a few days, I would invariably say, “Actually, yeah, there
was a deal and I booked just one more trip….”
</p>
<p>
Travel is so much a part of who I am! I don’t have the option to work remotely,
and working for a municipal government doesn’t afford me a huge income to
travel like I would love to. So instead of choosing not to travel because the
conditions are not ideal, I choose to travel whenever and however I can. It has
kept me sane when wanderlust strikes, as it so often does, while I am working
long hours in my office with a view of the parking lot.
</p>
<p>
Travel is not an unattainable goal. While I don’t prefer to binge travel like I
do, it is the next best thing, and I don’t have to quit my job in order to do
it. All it takes is a little dedication to researching and following through on
some unconventional ways to plan a trip, and off you go!
</p>

{{ partial "footer.html" . }}
